<html>

  <head>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="HolyGrail">

    <header class="HolyGrail-header">
      This is the header.
    </header>

    <div class="HolyGrail-leader">
      <aside class="HolyGrail-leader-first">This is the leader first area.</aside>
      <main class="HolyGrail-leader-main">{{ content }}</main>
      <aside class="HolyGrail-leader-last">This is the leader last area.</aside>
    </div>

    <footer class="HolyGrail-footer">

    <ul class="icons">
        <li><a href="https://www.facebook.com/sakari.cajanus" class="fa fa-facebook"><span class="label"></span></a></li>
        <li><a href="https://github.com/scajanus" class="fa fa-github"><span class="label"></span></a></li>
        <li><a href="https://stackexchange.com/users/6087634/sakari-cajanus" class="icon circle fa-stack-exchange"><span class="label">Stack Exchange</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Sakari Cajanus 2018</li>
    </ul>
      This is the footer.
    </footer>

  </body>

</html>
